<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h4 class="text-center">Commands List</h4>
    {% for command in commands %}
        <button class="btn btn-primary mr-4" onclick="onExecute('{{ command }}')">{{ command }}</button>
    {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    function onExecute(command) {
        $.ajax({
            url: "{% url 'execute' %}",
            type: 'post',
            dataType: 'json',
            data: {
                'command': command
            },
            success: function (result) {
                onWebSocket(command);
            }
        })
    }
</script>
<script>
    let socketMonitor;

    function onWebSocket(command) {
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/command/'
            + command
            + '/'
        );
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (data['is_existed'] === 'Yes'){
                clearInterval(socketMonitor);
                alert(command + " has been terminated.")
                chatSocket.close();
            }
        };
        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
            chatSocket.close();
        };
        socketMonitor = setInterval(function () {
            chatSocket.send(JSON.stringify({
                'command': command
            }));
        }, 1000)
    }
</script>
{#<script>#}
{#    monitor = setInterval(function () {#}
{#        $.ajax({#}
{#            url: "{% url 'monitoring' %}",#}
{#            type: 'post',#}
{#            dataType: 'json',#}
{#            data: {#}
{#                'command': command#}
{#            },#}
{#            success: function (response) {#}
{#                if (response['is_existed'] === 'Yes') {#}
{#                    alert(command + ' has been terminated.');#}
{#                    clearInterval(monitor);#}
{#                }#}
{#            }#}
{#        })#}
{#    }, 10 * 1000);#}
{#</script>#}
</body>
</html>